<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoding>UTF-8</encoding>
        <append>false</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r[%d{yy/MM/dd HH:mm:ss}%X{productionMode}]==>[%X{req.method} %X{req.requestURL}]%n  [ip=%X{req.remoteHost}, forwardedFor=%X{req.xForwardedFor},ref=%X{req.referer}, ua=%X{req.userAgent}, sid=%X{req.jsessionid}]%n  %-5level %logger{35} - %m
            ]]></pattern>
        </layout>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/project/err.log</file>
        <encoding>UTF-8</encoding>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/project/err-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <MaxHistory>10</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>200MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r[%d{yy/MM/dd HH:mm:ss}%X{productionMode}]==>[%X{req.method} %X{req.requestURL}]%n  [ip=%X{req.remoteHost}, forwardedFor=%X{req.xForwardedFor},ref=%X{req.referer}, ua=%X{req.userAgent}, sid=%X{req.jsessionid}]%n  %-5level %logger{35} - %m
            ]]></pattern>
        </layout>

        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/project/warn.log</file>
        <encoding>UTF-8</encoding>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.home}/logs/project/warn-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <MaxHistory>10</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>200MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r[%d{yy/MM/dd HH:mm:ss}%X{productionMode}]==>[%X{req.method} %X{req.requestURL}]%n  [ip=%X{req.remoteHost}, forwardedFor=%X{req.xForwardedFor},ref=%X{req.referer}, ua=%X{req.userAgent}, sid=%X{req.jsessionid}]%n  %-5level %logger{35} - %m
            ]]></pattern>
        </layout>

        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="PROJECT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/project/project.log</file>
        <encoding>UTF-8</encoding>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.home}/logs/project/project-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <MaxHistory>10</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>200MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
%n%-4r[%d{yy/MM/dd HH:mm:ss}%X{productionMode}]==>%n  [%X{req.method} %X{req.requestURL}]%n  [ip=%X{req.remoteHost}, forwardedFor=%X{req.xForwardedFor},ref=%X{req.referer}, ua=%X{req.userAgent}, sid=%X{req.jsessionid}]%n  %-5level %logger{35} - %m
            ]]></pattern>
        </layout>
    </appender>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <appender-ref ref="WARN"/>
        <appender-ref ref="PROJECT"/>
    </root>

    <logger name="com.lhs.netty" level="DEBUG"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache.shiro" level="WARN"/>
    <logger name="org.mybatis.spring.SqlSessionUtils" level="WARN"/>
    <logger name="org.mybatis.spring.transaction.SpringManagedTransaction" level="WARN"/>

</configuration>